.lnk-btn {
    background-color: #333 !important;
    border: #ddd !important;
}

.lnk-btn:hover, .lnk-btn:active, .lnk-btn:focus {
    background-color: #666 !important;
    border: #ddd !important;
}

.lnk-spn {
    margin-right: 0.5rem;
}

.prof-card {
    color: #ddd !important;
    text-align: left;
    width: 50%
}

@media (max-width: 767px) {
    .prof-card {
        color: #ddd !important;
        text-align: left;
        width: 90%
    }
  }