a {
    color: #00d9ff !important;
    text-decoration: none !important;
    transition: color 0.3s ease, text-decoration 0.3s ease !important;
}

a:hover {
    color: #fff !important;
}

.proj-card {
    color: #ddd !important;
    text-align: left;
    width: 50%
}

@media (max-width: 767px) {
    .proj-card {
        color: #ddd !important;
        text-align: left;
        width: 90%
    }
  }
.proj-container {
    width: 100% !important;
}

.lnk-btn {
    background-color: #333 !important;
    border: #ddd !important;
}

.lnk-btn:hover, .lnk-btn:active, .lnk-btn:focus {
    background-color: #666 !important;
    border: #ddd !important;
}

.lnk-spn {
    margin-right: 0.5rem;
}
