body {
  background-color: #000 !important;
}
body, p, h1, h2, h3, h4, h5, h6, span, div, /* Add more elements as needed */
a, tr, td, th, button, input, textarea {
  color: #ddd !important; /* white color */
}

.nav-tabs {
  display: flex;
  justify-content: center;
}

.app-tab {
  background-color: black !important;
}

.nav-link {
  color: #ddd !important;
}

.nav-link.active {
  color: #fff !important;
  background-color: #333 !important;
}

/*scrollbar stuff*/
::-webkit-scrollbar {
    width: 5px !important; 
    height: 5px !important; 
}

::-webkit-scrollbar-track {
    background: transparent !important; 
}

::-webkit-scrollbar-thumb {
    background: #888 !important; 
}

::-webkit-scrollbar-button {
  display: none !important;
}

.nav-btngrp {
  border-bottom: 1px solid white;
}
.active-nav-btn {
  background-color: #666 !important;
  border: none !important;
}

.inactive-nav-btn {
  background-color: #333  !important;
  border: none !important;
}

.inactive-nav-btn:hover {
  background-color: #666 !important;
}
